<%- include('partials/header'); -%>

<!--Accessible from /data
    Extracts and displays all content from status file as lines and not in key : value format-->

    <p><a href="/">< Back to homepage</a></p>
    <h1 id="sampleNav">Sample data</h1> 
    <div id="sampleData"> 
        <%lines.forEach((line)=>{%>
            <p class="data"><%=line.str%></p>
        <%})%>
    </div>


<%- include('partials/footer'); -%>
