<h1>Names of all packages</h1>

<a href="/packages">All Packages seperately</a>
    <ol>
        <%packageNamesArray.forEach((packageName)=>{%>
            <%packageName = packageName.trim()%>
            <li><a href="/<%=packageName%>"><%=packageName%></a></li>
        <%})%>
    </ol>
