<%- include('partials/header'); -%>

<!-- If browser with Linux operating system is detected then this page is redirected 
    from the locate the system button. 
    It displays, the result of status file. All raw data or package names -->


        <%if(error){%>
                <!-- In case of either file not found or other error -->
                <h1>Use sample status file instead of unfetched local status file</h1>
                <p><%=error%></p>
                <p id="fileNotFound">
                        <span id="buttons">
                        <a id="download" href="https://gist.github.com/lauripiispanen/29735158335170c27297422a22b48caa/archive/61a0f1150f33a1f31510b8e3a70cbac970892b2f.zip" download> Downloadable zipped sample data file</a><br><br>
                        <a href="/data"><button id="viewSampleDataButton">View sample data</button></a> 
                        <a href="/index"> <button id="displayPackages">Display all packages</button></a>
                        </span>
                </p>
        <%} else{%>
                <%=data%>
                <!-- If file successfully found -->
                <h1>From detected status file</h1>
                <p id="fileFound">
                        <span id="buttons">
                        <a href="/data"><button id="viewSampleDataButton">View all data</button></a> 
                        <a href="/index"> <button id="displayPackages">Display all packages</button></a>
                        </span>
                </p>
        <%}%>

<%- include('partials/footer'); -%>
