<h1>Details</h1>


<!-- - Name
- Description
- The names of the packages the current package depends on (skip version numbers)
- The names of the packages that depend on the current package
The dependencies and reverse dependencies should be clickable and the user can navigate the package structure by clicking from package to package. -->

<table>
    <tr>
        <td>Package Name: </td>
        <td><%=packageUrl%></td>
    </tr>
    <tr>
            <td>Description: </td>
            <td><%=packageUrl%></td>
        </tr>
</table>


<p>Name <br>
        - Description  <br>
        - The names of the packages the current package depends on (skip version numbers) <br>
        - The names of the packages that depend on the current package <br>
    The dependencies and reverse dependencies should be clickable and the user can navigate the package structure by clicking from package to package.</p>