<%- include('partials/header'); -%>

<nav class="welcome">
        <h1>Hello !</h1>
        <p><small>For your <%=typeOfOs%>, a <a href="/status.txt" download>sample file</a> is used 
            to create this library of packages as the file in /var/lib/dpkg/status of Debian and Ubuntu system </small></p>
</nav>

<%- include('partials/footer'); -%>
