<%- include('partials/header'); -%>

<nav class="welcome">
        <h1>Hello !</h1>
        <p><small>For your <%=typeOfOs%>, 
            locate the <a href="/">system file</a> in /var/lib/dpkg/status</small></p>
</nav>

<%- include('partials/footer'); -%>
