html{
    margin : 0;
    padding : 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Barlow', sans-serif;
}

    body{
    background-attachment: fixed;
    padding : 5%
    }

nav{
    max-width : 100%;
    padding : 10% auto;
    font-family: 'Sulphur Point', sans-serif;
}

h1{
    width : 50%;
    margin : 7% auto;
    margin-bottom: 3%;
    text-align: center;
    font-size: 3em;
    color:  #333333;

}

p {
    text-align: center;
    color : #a3a3a3;
    font-style: bold;
    font-size: 1.5rem;
}

li{
    text-align: center;
    list-style-type: none;
    font-size: 1.15rem;
    line-height: 1.7;
}

li a{
    text-decoration: none;
}

li a:link, a:visited, a:hover{
    color : #555555;
}

#tableDiv{
    width : 100%;
    height : auto;
}

table{
    width : 50%;
    margin : 1% auto;
    font-size: 1.1em;
}

td {
    padding-top: 2px;
    padding-bottom: 2px;
}


#showh1{
    text-transform: capitalize;
    width : 100%;
    margin : 0% auto;
    margin-bottom: 3%;
    text-align: center;
    font-size: 4em;
    color:  #4d4d4d;

}

#tableDiv{
    font-size : 0.85em;
    color : #4d4d4d
}

.welcome{
    padding : 8% 3%
}
